.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-rows: 100px 1fr;
}

.topNav {
  display: flex;
  align-items: center;
  padding: 20px;

  .topNavBtns {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 370px;
  }

  input {
    font-size: 22px;
    border: 0;
    border-radius: 6px;
    padding: 4px 20px;
    width: 100%;
  }
}

.tableContainer {
  overflow: auto;

  .table {
    min-width: 800px;

    .tableActionBtns {
      display: flex;
      justify-content: center;
      gap: 5px;
    }
  }
}
