.modal {
  box-shadow: 0 0 15px #888;
  background-color: #bbb;
  color: black;
  padding: 20px;
  max-width: 500px;
  max-height: calc(100vh - 40px);
  border-radius: 5px;
  overflow: auto;
  margin: auto;
  position: relative;

  &Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &CloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    padding: 2px 10px;
    color: #be1919;

  }

  &Sells {
    max-width: 1200px;
    height: 100%;

    form {
      display: flex;
      gap: 10px;
    }
  }

  form {
    label {
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 16px;
      margin-bottom: 10px;

      &.smallSize {
        input,
        select {
          font-size: 16px;
        }
      }
    }

    input,
    select {
      font-size: 22px;
      border: 0;
      border-radius: 5px;
      padding: 8px 0 8px 8px;
      flex-grow: 1;
    }

    button {
      float: right;
    }
  }

  h2 {
    font-size: 30px;
    margin: 0 0 20px;
  }
}
