# Create a env.txt with the following variables

SMTP_HOST=smtp.sengrid.net
SMTP_USER=apikey
SMTP_PASSWORD=SG.xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SMTP_SENDER_NAME=mailer
SMTP_SENDER_EMAIL=sender@gmail.com
SMTP_RECIPIENT_EMAIL=erwin@gmail.com
