# Edit this to env.txt and replace the following variables

SMTP_HOST=xxxxx
SMTP_USER=xxxxx
SMTP_PASSWORD=xxxxx
SMTP_SENDER_NAME=xxxxx
SMTP_SENDER_EMAIL=sender@example.com
SMTP_RECIPIENT_EMAIL=recipient@example.com
